body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color:antiquewhite;
  color: #ff00ff;
  text-align: center;
}

.retro-header {
  background: linear-gradient(to right, #dbfc05, #ff4500);
  padding: 10px;
  border-bottom: 5px solid #ffd700;
}


.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.Container-Component {
  width: 25%;
  background: #ffccff;
  padding: 10px;
  border: 3px solid #ff00ff;
}

.main-content {
  width: 70%;
  background: #ffffff;
  padding: 20px;
  border: 3px solid #ff00ff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.doc-item {
  list-style-type: none;
  margin: 10px 0;
  padding: 5px;
  background: #ffcc00;
  border: 2px solid #000;
  text-align: left;
}

.doc-link {
  color: #0000ff; 
  font-weight: bold;
  text-decoration: none;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-btn {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.hidden {
  display: none;
}
/* Responsive: Pour les écrans larges et les tablettes */
@media (min-width: 768px) {
  .Container-Component {
    flex-direction: row;
    justify-content: space-around;
  }

  .document-editor {
    width: 50%;
    margin: 0 auto;
  }

  .retro-header h1 {
    font-size: 2.5rem;
  }

  .doc-link {
    font-size: 1.2rem;
  }

  .delete-btn {
    font-size: 1.7rem;
  }

  .add-btn {
    font-size: 1.1rem;
  }
}

/* Responsive: Pour les écrans mobiles (moins de 768px de large) */
@media (max-width: 767px) {
  .app-container {
    padding: 10px;
  }

  .retro-header h1 {
    font-size: 1.8rem;
  }

  .Container-Component {
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    width: 100%;
    margin-top: 20px;
  }

  .document-editor {
    width: 100%;
    margin: 0;
  }

  .doc-item {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .doc-link {
    font-size: 1.2rem;
  }

  .delete-btn {
    font-size: 1.5rem;
  }

  .add-btn {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
  
}
@media (max-width: 489px) {
  .MocktailTitle{
    font-size: 12px;
  }
}

